* {
    font-family: 'Work Sans', sans-serif;
}

#header {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.form {
    font-family: 'Lato', sans-serif;
}

.color-azul-oscuro {
    background-color: #0E185F;
}

.color-azul {
    background-color: #2FA4FF;
}

.color-azul2 {
    background-color: #00C2FF;
}

.color-celeste {
    background-color: #00FFDD;
}

.color-verde-claro {
    background-color: #E8FFC2;
}

.color-blanco2 {
    background-color: #F4F8FA;
}

.rojo {
    color: red;
}

.color-amarillo {
    background-color: #FFCC4D;
}

.color-naranja {
    background-color: #F98600;
}

.dflexcentro {
    display: flex;
    justify-content: center;
}

.dflex {
    display: flex;
}

.dblock {
    display: block;
}

.centrar {
    margin: 0 auto;
}

.centrarv {
    margin: auto 0;
}

.centrarvh {
    margin: auto;
}

.textopequeno {
    font-size: 13px;
}

.listahorizontal {
    padding-top: 1.5rem;
    padding-bottom: 0rem;
}

.listasinseparador {
    list-style-type: none;
}

.derecha {
    float: right;
}

.curso {
    width: 100%;
}